body{
	background: url(../images/bg.jpg) center top #000 no-repeat;
	font-size: 12px;
}
.formulario{
	background-color: rgba(44,51,61,0.71);
	margin-top: 50px;
	padding-bottom: 30px;
	h2{
		padding-top: 10px;
	}
	h2, p{
		color: #fff;
	}
	p{
		margin-bottom: 30px;
		display: block;
	}
	input{
		min-height: 44px;
		border: 2px solid #2b8be9;
		border-radius: 0;
		background: transparent;
	}
	b{
		background-color: #2B8BE9;
		padding: 4px 5px;
	}
	.btn-custom{
		background-color: #ed4e43;
		background-image: none;
		background-position: top left;
		background-repeat: repeat;
		background-size: initial;
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		padding-top: 10px;
		padding-right: 5px;
		padding-bottom: 10px;
		padding-left: 5px;
		margin-top: 4px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 4px;
		display: block;
		box-sizing: border-box;
		font-size: 20px;
		font-weight: bold;
		color: #ffffff;
		width: 100%;
		height: 46px;
		box-shadow: 0 4px 0 #c33b32;
		overflow: hidden;
		&:hover{
			background-color: #ed6b62;
		}
		&:active{
			background-color: #ed6b62;
			color: #fff;
		}
	}
}
footer{
	p{
		color: #fff;
		text-align: center;
		font-size: 14px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}